<% flash[:notice] = '' %>
<% #if you can't find any user, this message is shown. %>
<% if @user1.nil? then %>
  <% flash[:notice] = 'We couldn\'t find UserName1...Sorry!' %>
  <%# button_to 'Back',  :action => :new %>
  <%# link_to_function t("Back"), "history.back()" %>
<% elsif @user2.nil? then %>
  <% flash[:notice] = 'We couldn\'t find UserName2...Sorry!' %>
  <%# button_to 'Back',  :action => :new %>
  <%# link_to_function t("Back"), "history.back()" %>
<% else %>

  <% #<p class="howto"><b>Confirmation ▼ 確定</b></p> %>

  <span style="text-align: left">
  <%= form_tag "/conversations/show" do |f| %>

	<%= select_tag("how_many_tweets", options_for_select([["Most Recent ：最近の",1],["More Recent ：ちょっと前も",2],["Older ：かなり古いのも",3],["Oldest ：一番古いのも",4]])) %>
    
    <p align="center">    
      <%# submit_tag "Listen!" %>
      <%= image_submit_tag("listen.png")%>
    </p>

    <% @user1.each_with_index do |user1, i| %>
        <% if i == 1 %>
          <p class="twitterprof"><b>@</b><%= link_to user1, 
			  "https://twitter.com/#!/" + user1, 'data-popup' => true %></p>
		  <%= text_field_tag "search_string1", user1, :hidden => true %>
	    <% elsif i == 4 %>
	       <%= link_to user1, user1 %>
        <% else %>
          <p class="twitterprof"><b><%=h user1 %></b></p>
        <% end %>
    <% end %> 
    <% @user1_img.each_line do |img1| %>
        <p><img src="<%=h img1 %>" /></p>
    <% end %>
	<% @user1_recent_tweet.each_line do |r| %>
		<p class="tweet"><b>Recent Tweet（最近のツイート）⇒ <%=h r %></b></p>
    <% end %>

<p>--------------------------------------------------------------------------------------------------------------------------------</p>

    <% @user2.each_with_index do |user2, i| %>
        <% if i == 1 %>
          <p class="twitterprof"><b>@</b><%= link_to user2, 
		      "https://twitter.com/#!/" + user2, 'data-popup' => true %></p>
		  <%= text_field_tag "search_string2", user2, :hidden => true %>
        <% elsif i == 4 %>
           <%= link_to user2, user2 %>
        <% else %>
          <p class="twitterprof"><b><%=h user2 %></b></p>
        <% end %>
    <% end %> 
    <% @user2_img.each_line do |img2| %>
        <p><img src="<%=h img2 %>"/></p>
    <% end %> 
	<% @user2_recent_tweet.each_line do |r| %>
        <p class="tweet"><b>Recent Tweet（最近のツイート）⇒ <%=h r %></b></p>
    <% end %>

  <% end %>
  </span>

  <br />

<% end %>

  <%= link_to_function t("Back"), "history.back()" %> 
  <%# button_to 'Back',  :action => :new %>
  <%# link_to "Back", "/conversations/new" %>
  
